<script type="text/ng-template" id="node_renderer.html">

    <span class="node-opener" ng-click="node.toggleOpen()">
        <i class="fa fa-caret-right fa-lg" ng-if="node.children && !node.opened"></i>
        <i class="fa fa-caret-down fa-lg" ng-if="node.children && node.opened"></i>
    </span>
    <i class="fa fa-lg" ng-if="!node.children">&nbsp;</i>

    <span class="node" ng-click="node.toggleChecked(tree.nodes)">
        <i ng-if="node.checked" class="fa fa-check-square"></i>
        <i ng-if="!node.checked && !node.hasCheckedChildren" class="fa fa-square-o"></i>
        <i ng-if="!node.checked && node.hasCheckedChildren" class="fa fa-square"></i>&nbsp;
        {{node.label}}
    </span>

    <ul ng-if="node.children && node.opened">
        <li ng-repeat="node in node.children" ng-include="'node_renderer.html'"></li>
    </ul>

</script>

<ul class="nvd-ng-tree" onselectstart="return false;" onmousedown="return false;">
    <li ng-repeat="node in tree.nodes" ng-include="'node_renderer.html'"></li>
</ul>

        <pre>{{tree|json}}</pre>